@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Russo One", sans-serif;
  color: #1a1a1a;
}

body li {
  list-style: none;
}

body a {
  color: #1a1a1a;
}

body a:hover {
  color: #1a1a1a;
}

.logo_link {
  text-decoration: none;
}

.main_title {
  font-size: 3.2rem;
}

.main_subtitle {
  font-size: 1.2rem;
  color: #999999;
}

.rosado {
  color: #ff45a2;
}

.card {
  border: none;
}

.header_container {
  height: 10vh;
  background-color: #f5f5f5;
  z-index: 10;
}

.header_container .icon_container {
  width: 70px;
  height: 10vh;
  background-color: #ff45a2;
  cursor: pointer;
}

.header_container .icon_container .menu_icon {
  color: #ffffff;
}

.header_container .icon_container .menuClose_txt {
  color: #ffffff;
}

.header_container .menuDesplegable_container {
  background-color: #ff45a2;
}

.carousel-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10px auto 10px;
      grid-template-columns: 10px auto 10px;
}

.carousel-item {
  width: 250px;
  height: 250px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top: 8px solid #ff45a2;
  border-right: 8px solid #ff45a2;
  border-bottom: 8px solid #ff45a2;
  -webkit-box-shadow: #1a1a1a 14px 0;
          box-shadow: #1a1a1a 14px 0;
}

.carousel-plusIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.3rem;
  color: #1a1a1a;
  cursor: pointer;
}

.carousel-control-prev, .carousel-control-next {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: calc(50% - 36px);
  padding: 0 8px;
  font-size: 3rem;
  color: #ff45a2;
  opacity: 0.4;
}

.carousel-control-prev:hover, .carousel-control-prev:focus, .carousel-control-next:hover, .carousel-control-next:focus {
  color: #ff45a2;
  opacity: 0.9;
}

@-webkit-keyframes imgMov {
  0% {
    -webkit-transform: scale(1.006);
            transform: scale(1.006);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.006);
            transform: scale(1.006);
  }
}

@keyframes imgMov {
  0% {
    -webkit-transform: scale(1.006);
            transform: scale(1.006);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.006);
            transform: scale(1.006);
  }
}

.home {
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  margin-top: 12px;
}

.home-imgContainer {
  position: relative;
  overflow: hidden;
}

.home-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-img__4 {
  -o-object-position: -60px;
     object-position: -60px;
}

.home-img__1:hover, .home-img__2:hover, .home-img__3:hover, .home-img__4:hover {
  cursor: pointer;
  -webkit-animation: imgMov ease-in-out 4s infinite;
          animation: imgMov ease-in-out 4s infinite;
}

.home-img__1:hover ~ .home-plusIcon, .home-img__2:hover ~ .home-plusIcon, .home-img__3:hover ~ .home-plusIcon, .home-img__4:hover ~ .home-plusIcon {
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-animation: imgMov ease-in-out 4s infinite;
          animation: imgMov ease-in-out 4s infinite;
}

.home-plusIcon {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  font-size: 1rem;
  color: #ffffff;
  opacity: 0;
  cursor: pointer;
}

.home-plusIcon:hover {
  opacity: 1;
  -webkit-animation: imgMov ease-in-out 4s infinite;
          animation: imgMov ease-in-out 4s infinite;
}

.modal-dialog, .modal-content {
  width: 90vw;
  max-width: 900px;
  min-width: 288px;
  height: 85vh;
}

.modal-card {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-card-imgContainer {
  width: 100%;
  height: 50%;
}

.modal-card-body {
  width: 100%;
  height: 50%;
}

.modal-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-img__4 {
  -o-object-position: -60px;
     object-position: -60px;
}

.modal-btn-close {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  padding: 4px;
  color: #ffffff;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  height: 30px;
  background-color: #ff45a2;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.marquee h2 {
  animation: marquee 3s linear infinite reverse;
}

.marquee__2 {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.marquee__2 h2 {
  -webkit-animation: marquee 3s linear infinite alternate;
          animation: marquee 3s linear infinite alternate;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.linkSpoti {
  right: -12px;
  height: 70px;
  width: 70px;
  background-color: #1a1a1a;
}

.linkSpoti-icon {
  font-size: 2.8rem;
  color: #ffffff;
}

.linkSpoti-icon:hover {
  color: #ffffff;
}

.cardDisc_container {
  background-image: url(../assets/img/bg/bg_caos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.caos_title {
  font-size: 6rem;
  line-height: 4rem;
}

.punto {
  display: inline-block;
  margin-left: 4px;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
}

.discCard {
  max-width: 450px;
  background-color: transparent;
  color: #ffffff;
}

.discCard-btn {
  position: relative;
  width: 100px;
  padding: 8px 0;
  border: 2px solid #1a1a1a;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.discCard-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  content: "";
  background: none;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.discCard-btn:hover {
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.discCard-btn:hover::after {
  background: #1a1a1a;
  -webkit-transform: scale(475);
          transform: scale(475);
}

.discCard-audio {
  visibility: hidden;
  position: absolute;
}

.hide {
  display: none;
}

.imgGaleria_container {
  width: 273px;
  height: 409px;
}

.imgGaleria_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cardTourSection_container {
  max-width: 1100px;
}

.tourCard {
  max-width: 475px;
  background-color: #ff45a2;
  border-radius: 25px;
}

.tourCard-title {
  font-size: 2.6rem;
  border-bottom: #1a1a1a solid 2px;
}

.tourCard-subtitle {
  font-size: 1.6rem;
  border-right: #1a1a1a solid 2px;
}

.tourCard-txt {
  font-size: 1.2rem;
}

.tourCard-btn {
  position: relative;
  width: 100%;
  padding: 8px 0;
  border: 2px solid #1a1a1a;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  max-width: 475px;
}

.tourCard-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  content: "";
  background: none;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.tourCard-btn:hover {
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.tourCard-btn:hover::after {
  background: #1a1a1a;
  -webkit-transform: scale(475);
          transform: scale(475);
}

hr {
  border: 1px dashed #1a1a1a;
  color: transparent;
}

.shopCard-imgContainer {
  width: 100%;
  min-width: 225px;
  height: 270px;
  opacity: 0;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.shopCard-imgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shopCard-pinSet {
  opacity: 1;
}

.shopCard-btn {
  position: relative;
  width: 50%;
  padding: 8px 0;
  border: 2px solid #1a1a1a;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.shopCard-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  content: "";
  background: none;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.shopCard-btn:hover {
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.shopCard-btn:hover::after {
  background: #1a1a1a;
  -webkit-transform: scale(475);
          transform: scale(475);
}

.label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.label-pink {
  background-color: #ff45a2;
  position: relative;
  top: 13px;
}

.label-black {
  background-color: #1a1a1a;
  position: relative;
  top: -7px;
  right: -30px;
}

.shop2 {
  padding: 0px 12px;
}

#carcasaPink:checked ~ .shop1 {
  opacity: 1;
}

#carcasaPink:checked ~ .label-pink {
  outline: auto 1px #ff45a2;
  outline-offset: 3px;
}

#carcasaBlack:checked ~ .shop2 {
  opacity: 1;
}

#carcasaBlack:checked ~ .label-black {
  outline: auto 1px #1a1a1a;
  outline-offset: 3px;
}

#bolsoPink:checked ~ .shop1 {
  opacity: 1;
}

#bolsoPink:checked ~ .label-pink {
  outline: auto 1px #ff45a2;
  outline-offset: 3px;
}

#bolsoBlack:checked ~ .shop2 {
  opacity: 1;
}

#bolsoBlack:checked ~ .label-black {
  outline: auto 1px #1a1a1a;
  outline-offset: 3px;
}

#skatePink:checked ~ .shop1 {
  opacity: 1;
}

#skatePink:checked ~ .label-pink {
  outline: auto 1px #ff45a2;
  outline-offset: 3px;
}

#skateBlack:checked ~ .shop2 {
  opacity: 1;
}

#skateBlack:checked ~ .label-black {
  outline: auto 1px #1a1a1a;
  outline-offset: 3px;
}

.form-bg {
  background-image: url(../assets/img/bg/bg_contacto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  max-width: 560px;
}

.form-input {
  padding: 9px;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 30px;
}

.form-input::-webkit-input-placeholder {
  color: #1a1a1a;
}

.form-input:-ms-input-placeholder {
  color: #1a1a1a;
}

.form-input::-ms-input-placeholder {
  color: #1a1a1a;
}

.form-input::placeholder {
  color: #1a1a1a;
}

.form-btn {
  width: 52px;
  height: 52px;
  font-size: 2rem;
  color: #ffffff;
  background-color: #1a1a1a;
  border: none;
  border-radius: 50%;
}

.email_container {
  height: 30vh;
}

.footer {
  min-height: 10vh;
  background-color: #f5f5f5;
}

.footer-link {
  text-decoration: none;
}

.footer-link__icon {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #ff45a2;
}

.footer-listenTxt {
  font-size: 0.8rem;
}

.footer-txt {
  font-size: 0.5rem;
  color: #999999;
}

.rrssFoot_container {
  border-bottom: 2px solid rgba(153, 153, 153, 0.4);
  font-size: 0.8rem;
}

.rrssFoot_container a {
  overflow: hidden;
}

.rrssFoot_container a::after {
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background: #1a1a1a;
  -webkit-transform: translate(-105%, -5px);
          transform: translate(-105%, -5px);
}

.rrssFoot_container a:hover::after {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 470px) {
  .modal-card-imgContainer {
    height: 65%;
  }
  .modal-card-body {
    height: 35%;
  }
}

/********** CARRUSEL  **********/
@media screen and (min-width: 576px) {
  .carousel-item {
    width: 490px;
    height: 490px;
  }
  .carousel-plusIcon {
    font-size: 2rem;
  }
  /********** GALERÍA **********/
  .galeria_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (20%)[5];
        grid-template-columns: repeat(5, 20%);
    -ms-grid-rows: 359px 50px 329px 80px 359px;
        grid-template-rows: 359px 50px 329px 80px 359px;
  }
  .imgGaleria_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
  .imgGaleria_2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / span 4;
  }
  .imgGaleria_3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / span 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
}

@media screen and (min-width: 710px) {
  .modal-dialog, .modal-content {
    width: 70vw;
    height: 70vh;
  }
  .modal-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .modal-card-imgContainer {
    width: 50%;
    height: 100%;
  }
  .modal-card-body {
    padding-top: 2rem;
    width: 50%;
    height: 100%;
  }
  .modal-btn-close {
    color: #1a1a1a;
  }
}

@media screen and (min-width: 768px) {
  .rrssFoot_container {
    border-bottom: none;
  }
}

@media screen and (min-width: 992px) {
  /********** CARRUSEL  **********/
  .carousel-item {
    width: 580px;
    height: 580px;
  }
  /********** GALERÍA **********/
  .galeria_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /********** TIENDA  **********/
  .cardImg_container {
    height: 300px;
  }
}

/**--------- NAV ---------**/
.menuDesplegable_container .blanco {
  color: #ffffff;
  opacity: 0;
}

.menuDesplegable_container .leftCode {
  display: inline-block;
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.menuDesplegable_container .rightCode {
  display: inline-block;
  -webkit-transform: translate(60px);
          transform: translate(60px);
}

.menuDesplegable_container a:hover {
  opacity: 1;
}

.menuDesplegable_container a:hover .blanco {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.menuDesplegable_container a:hover .leftCode,
.menuDesplegable_container a:hover .rightCode {
  -webkit-transform: translate(0);
          transform: translate(0);
}
/*# sourceMappingURL=style.css.map */