@charset "UTF-8";
/********** ESTILOS UNIVERSALES **********/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/********** ESTILOS GENERALES **********/
body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Russo One", sans-serif;
  color: #1a1a1a;
}

body li {
  list-style: none;
}

body a {
  color: #1a1a1a;
}

body a:hover {
  color: #1a1a1a;
}

.logo_link {
  text-decoration: none;
}

.main_title {
  font-size: 3.2rem;
}

.main_subtitle {
  font-size: 1.2rem;
  color: #999999;
}

.cardBtn {
  padding: 8px 0;
  border: 2px solid #1a1a1a;
  border-radius: 40px;
}

.rosado {
  color: #ff45a2;
}

.card {
  border: none;
}

/********** HEADER **********/
.header_container {
  height: 10vh;
  background-color: #f5f5f5;
  z-index: 10;
}

.header_container .icon_container {
  width: 70px;
  height: 10vh;
  background-color: #ff45a2;
  cursor: pointer;
}

.header_container .icon_container .menu_icon {
  color: white;
}

.header_container .icon_container .menuClose_txt {
  color: white;
}

.header_container .menuDesplegable_container {
  background-color: #ff45a2;
}

/********** MAIN -- INDEX **********/
.carousel-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10px auto 10px;
      grid-template-columns: 10px auto 10px;
}

.carousel-item {
  width: 280px;
  height: 280px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top: 8px solid #ff45a2;
  border-right: 8px solid #ff45a2;
  border-bottom: 8px solid #ff45a2;
  -webkit-box-shadow: #1a1a1a 14px 0;
          box-shadow: #1a1a1a 14px 0;
}

/********** MAIN -- NUEVO LANZAMIENTO **********/
.marquee {
  white-space: nowrap;
  overflow: hidden;
  height: 30px;
  background-color: #ff45a2;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.marquee h2 {
  animation: marquee 3s linear infinite reverse;
}

.marquee__2 {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.marquee__2 h2 {
  -webkit-animation: marquee 3s linear infinite alternate;
          animation: marquee 3s linear infinite alternate;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.cardDisc_container {
  background-image: url(../img/bg_caos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.caos_title {
  font-size: 6rem;
  line-height: 4rem;
}

.caos_title_1 {
  line-height: 2rem;
}

.caos_title_2 {
  line-height: 3.2rem;
}

.punto {
  display: inline-block;
  margin-left: 4px;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
}

.cardDiscSong_container {
  max-width: 500px;
  background-color: transparent;
  color: white;
}

.cardBtn__disc {
  width: 100px;
}

/********** MAIN -- GALERÍA **********/
.imgGaleria_container {
  width: 273px;
  height: 409px;
}

.imgGaleria_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/********** MAIN -- TOUR **********/
.cardTourSection_container {
  max-width: 1100px;
}

.cardTourSection_container .cardTour {
  max-width: 475px;
  background-color: #ff45a2;
  border-radius: 25px;
}

.cardTourSection_container .cardTour_title {
  font-size: 2.6rem;
  border-bottom: #1a1a1a solid 2px;
}

.cardTourSection_container .cardTour_subtitle {
  font-size: 1.6rem;
  border-right: #1a1a1a solid 2px;
}

.cardTourSection_container .cardTour_txt {
  font-size: 1.2rem;
}

.cardBtn_tour {
  max-width: 475px;
}

hr {
  border: 1px dashed #1a1a1a;
  color: transparent;
}

/********** MAIN -- TIENDA **********/
.cardImg_container {
  width: 100%;
  min-width: 225px;
  height: 270px;
}

.cardImg_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cardImg_container .cardBtn__tienda {
  width: 180px;
}

/********** MAIN -- CONTACTO **********/
.bgForm {
  background-image: url(../img/bg_contacto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgForm .form_container {
  max-width: 560px;
}

.bgForm .form_container .form_input {
  padding: 9px;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 30px;
}

.bgForm .form_container .form_input::-webkit-input-placeholder {
  color: #1a1a1a;
}

.bgForm .form_container .form_input:-ms-input-placeholder {
  color: #1a1a1a;
}

.bgForm .form_container .form_input::-ms-input-placeholder {
  color: #1a1a1a;
}

.bgForm .form_container .form_input::placeholder {
  color: #1a1a1a;
}

.bgForm .form_container .form_btn {
  width: 52px;
  height: 52px;
  font-size: 2rem;
  color: white;
  background-color: #1a1a1a;
  border: none;
  border-radius: 50%;
}

.email_container {
  height: 30vh;
}

/********** FOOTER **********/
footer {
  min-height: 10vh;
  background-color: #f5f5f5;
}

footer a {
  text-decoration: none;
}

footer a i {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #ff45a2;
}

footer .rrssFoot_container {
  border-bottom: 2px solid rgba(153, 153, 153, 0.4);
  font-size: 0.8rem;
}

footer .rrssFoot_container a {
  overflow: hidden;
}

footer .rrssFoot_container a::after {
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background: #1a1a1a;
  -webkit-transform: translate(-105%, -5px);
          transform: translate(-105%, -5px);
}

footer .rrssFoot_container a:hover::after {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .listenFoot_txt {
  font-size: 0.8rem;
}

footer .copyFoot_txt {
  font-size: 0.5rem;
  color: #999999;
}

/*^^^^^^^^^^ MEDIA QUERIES -- 576px ^^^^^^^^^*/
/*^^^^^^^^^^ MEDIA QUERIES -- 576px ^^^^^^^^^*/
/********** CARRUSEL  **********/
@media screen and (min-width: 576px) {
  .imgCarrusel_container {
    width: 450px;
    height: 450px;
  }
  /********** GALERÍA **********/
  .galeria_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (20%)[5];
        grid-template-columns: repeat(5, 20%);
    -ms-grid-rows: 359px 50px 329px 80px 359px;
        grid-template-rows: 359px 50px 329px 80px 359px;
  }
  .imgGaleria_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
  .imgGaleria_2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / span 4;
  }
  .imgGaleria_3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / span 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
}

/*^^^^^^^^^^ MEDIA QUERIES -- 768px ^^^^^^^^^*/
@media screen and (min-width: 768px) {
  footer .rrssFoot_container {
    border-bottom: none;
  }
}

/*^^^^^^^^^^ MEDIA QUERIES -- 992px ^^^^^^^^^*/
@media screen and (min-width: 992px) {
  /********** CARRUSEL  **********/
  .imgCarrusel_container {
    width: 580px;
    height: 580px;
  }
  /********** GALERÍA **********/
  .galeria_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /********** TIENDA  **********/
  .cardImg_container {
    height: 300px;
  }
}

/*^^^^^^^^^^ ANIMACIONES ^^^^^^^^^*/
/**--------- NAV ---------**/
.menuDesplegable_container .blanco {
  color: white;
  opacity: 0;
}

.menuDesplegable_container .leftCode {
  display: inline-block;
  -webkit-transform: translate(-60px);
          transform: translate(-60px);
}

.menuDesplegable_container .rightCode {
  display: inline-block;
  -webkit-transform: translate(60px);
          transform: translate(60px);
}

.menuDesplegable_container a:hover {
  opacity: 1;
}

.menuDesplegable_container a:hover .blanco {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.menuDesplegable_container a:hover .leftCode,
.menuDesplegable_container a:hover .rightCode {
  -webkit-transform: translate(0);
          transform: translate(0);
}

/**--------- BOTONES ---------**/
.btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  content: "";
  background: none;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  color: whitesmoke;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn:hover::after {
  background: #1a1a1a;
  -webkit-transform: scale(475);
          transform: scale(475);
}
/*# sourceMappingURL=style.css.map */