////////////////////////////////////////
// 1- VARIABLES
////////////////////////////////////////
$colorPrimario: #1a1a1a;
$colorSecundario: #ff45a2;
$colorParrafo: #999999;
$colorResaltado: #ffffff;
$colorBg: #f5f5f5;

@mixin btn($width) {
  width: $width;
  padding: 8px 0;
  border: 2px solid $colorPrimario;
  border-radius: 40px;
}

////////////////////////////////////////
// 2- ESTILOS UNIVERSALES
////////////////////////////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

////////////////////////////////////////
// 3- ESTILOS GENERALES
////////////////////////////////////////

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Russo One", sans-serif;
  color: $colorPrimario;
  li {
    list-style: none;
  }
  a {
    color: $colorPrimario;
    &:hover {
      color: $colorPrimario;
    }
  }
}

.logo_link {
  text-decoration: none;
}

.main {
  &_title {
    font-size: 3.2rem;
  }

  &_subtitle {
    font-size: 1.2rem;
    color: $colorParrafo;
  }
}

.rosado {
  color: $colorSecundario;
}

.card {
  border: none;
}

////////////////////////////////////////
// 4- HEADER
////////////////////////////////////////

.header_container {
  height: 10vh;
  background-color: $colorBg;
  z-index: 10;
  .icon_container {
    width: 70px;
    height: 10vh;
    background-color: $colorSecundario;
    cursor: pointer;
    .menu_icon {
      color: $colorResaltado;
    }
    .menuClose_txt {
      color: $colorResaltado;
    }
  }
  .menuDesplegable_container {
    background-color: $colorSecundario;
  }
}

////////////////////////////////////////
// 5- MAIN -- INDEX
////////////////////////////////////////

.carousel {
  &-inner {
    display: grid;
    grid-template-columns: 10px auto 10px;
  }
  &-item {
    width: 280px;
    height: 280px;
    grid-column-start: 2;
    grid-row-start: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top: 8px solid $colorSecundario;
      border-right: 8px solid $colorSecundario;
      border-bottom: 8px solid $colorSecundario;
      box-shadow: $colorPrimario 14px 0;
    }
  }
}

////////////////////////////////////////
// 6- MAIN -- NUEVO LANZAMIENTO
////////////////////////////////////////

.marquee {
  white-space: nowrap;
  overflow: hidden;
  height: 30px;
  background-color: $colorSecundario;
  transform: rotate(5deg);
  h2 {
    animation: marquee 3s linear infinite reverse;
  }
}

.marquee__2 {
  transform: rotate(-5deg);
  h2 {
    animation: marquee 3s linear infinite alternate;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.cardDisc_container {
  background-image: url(../img/bg_caos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.caos_title {
  font-size: 6rem;
  line-height: 4rem;
}

.punto {
  display: inline-block;
  margin-left: 4px;
  width: 32px;
  height: 32px;
  background-color: $colorResaltado;
  border-radius: 50%;
}

.discCard {
  max-width: 450px;
  background-color: transparent;
  color: $colorResaltado;
  &-btn {
    @include btn(100px);
  }
}

////////////////////////////////////////
// 7- MAIN -- GALERÍA
////////////////////////////////////////

.imgGaleria_container {
  width: 273px;
  height: 409px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

////////////////////////////////////////
// 8- MAIN -- TOUR
////////////////////////////////////////

.cardTourSection_container {
  max-width: 1100px;
}

.tourCard {
  max-width: 475px;
  background-color: $colorSecundario;
  border-radius: 25px;
  &-title {
    font-size: 2.6rem;
    border-bottom: $colorPrimario solid 2px;
  }
  &-subtitle {
    font-size: 1.6rem;
    border-right: $colorPrimario solid 2px;
  }
  &-txt {
    font-size: 1.2rem;
  }
  &-btn {
    @include btn(100%);
    max-width: 475px;
  }
}

hr {
  border: 1px dashed $colorPrimario;
  color: transparent;
}

////////////////////////////////////////
// 9- MAIN -- TIENDA
////////////////////////////////////////

.shopCard {
  &-imgContainer {
    width: 100%;
    min-width: 225px;
    height: 270px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-btn {
    @include btn(50%);
  }
}

////////////////////////////////////////
// 10- MAIN -- CONTACTO
////////////////////////////////////////

.form {
  &-bg {
    background-image: url(../img/bg_contacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-container {
    max-width: 560px;
  }
  &-input {
    padding: 9px;
    background-color: transparent;
    border: 2px solid $colorPrimario;
    border-radius: 30px;
    &::placeholder {
      color: $colorPrimario;
    }
  }
  &-btn {
    width: 52px;
    height: 52px;
    font-size: 2rem;
    color: $colorResaltado;
    background-color: $colorPrimario;
    border: none;
    border-radius: 50%;
  }
}

.email_container {
  height: 30vh;
}

////////////////////////////////////////
// 11- FOOTER
////////////////////////////////////////

.footer {
  min-height: 10vh;
  background-color: $colorBg;
  &-link {
    text-decoration: none;
    &__icon {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-style: normal;
      color: $colorSecundario;
    }
  }
  &-listenTxt {
    font-size: 0.8rem;
  }
  &-txt {
    font-size: 0.5rem;
    color: $colorParrafo;
  }
}

.rrssFoot_container {
  border-bottom: 2px solid rgba(153, 153, 153, 0.4);
  font-size: 0.8rem;
  a {
    overflow: hidden;
    &::after {
      display: block;
      width: 100%;
      height: 2px;
      content: "";
      background: $colorPrimario;
      transform: translate(-105%, -5px);
    }
    &:hover::after {
      transform: translate(0, -5px);
      transition: all 0.3s ease-in-out;
    }
  }
}

////////////////////////////////////////
// 12- MEDIA QUERIES
////////////////////////////////////////

@import "./partials/mediaQueries";

////////////////////////////////////////
// 13- ANIMACIONES
////////////////////////////////////////

/**--------- NAV ---------**/

.menuDesplegable_container {
  .blanco {
    color: $colorResaltado;
    opacity: 0;
  }
  .leftCode {
    display: inline-block;
    transform: translate(-60px);
  }
  .rightCode {
    display: inline-block;
    transform: translate(60px);
  }
  a:hover {
    opacity: 1;
    & .blanco {
      transition: all 0.3s ease-in-out;
      opacity: 1;
    }
    & .leftCode,
    & .rightCode {
      transform: translate(0);
    }
  }
}

/**--------- BOTONES ---------**/

.btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    content: "";
    background: none;
    border-radius: 50%;
    z-index: -1;
    transform-origin: center;
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    color: $colorResaltado;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &::after {
      background: $colorPrimario;
      transform: scale(475);
    }
  }
}
