////////////////////////////////////////
// 1- VARIABLES
////////////////////////////////////////
$colorPrimario: #1a1a1a;
$colorSecundario: #ff45a2;
$colorParrafo: #999999;
$colorResaltado: #ffffff;
$colorBg: #f5f5f5;

////////////////////////////////////////
// 2- MIXINS
////////////////////////////////////////

@mixin btn($width, $transition) {
  position: relative;
  width: $width;
  padding: 8px 0;
  border: 2px solid $colorPrimario;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
  transition: all $transition ease-in-out;
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    content: "";
    background: none;
    border-radius: 50%;
    z-index: -1;
    transform-origin: center;
    transition: all $transition ease-in-out;
  }
  &:hover {
    color: $colorResaltado;
    cursor: pointer;
    transition: all $transition ease-in-out;
    &::after {
      background: $colorPrimario;
      transform: scale(475);
    }
  }
}

@mixin clicEventTienda {
  &Pink:checked {
    & ~ .shop1 {
      opacity: 1;
    }
    & ~ .label-pink {
      outline: auto 1px $colorSecundario;
      outline-offset: 3px;
    }
  }
  &Black:checked {
    & ~ .shop2 {
      opacity: 1;
    }
    & ~ .label-black {
      outline: auto 1px $colorPrimario;
      outline-offset: 3px;
    }
  }
}

////////////////////////////////////////
// 3- ESTILOS UNIVERSALES
////////////////////////////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

////////////////////////////////////////
// 4- ESTILOS GENERALES
////////////////////////////////////////

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Russo One", sans-serif;
  color: $colorPrimario;
  li {
    list-style: none;
  }
  a {
    color: $colorPrimario;
    &:hover {
      color: $colorPrimario;
    }
  }
}

.logo_link {
  text-decoration: none;
}

.main {
  &_title {
    font-size: 3.2rem;
  }

  &_subtitle {
    font-size: 1.2rem;
    color: $colorParrafo;
  }
}

.rosado {
  color: $colorSecundario;
}

.card {
  border: none;
}

////////////////////////////////////////
// 5- HEADER
////////////////////////////////////////

.header_container {
  height: 10vh;
  background-color: $colorBg;
  z-index: 10;
  .icon_container {
    width: 70px;
    height: 10vh;
    background-color: $colorSecundario;
    cursor: pointer;
    .menu_icon {
      color: $colorResaltado;
    }
    .menuClose_txt {
      color: $colorResaltado;
    }
  }
  .menuDesplegable_container {
    background-color: $colorSecundario;
  }
}

////////////////////////////////////////
// 6- MAIN -- INDEX
////////////////////////////////////////

.carousel {
  &-inner {
    display: grid;
    grid-template-columns: 10px auto 10px;
  }
  &-item {
    width: 250px;
    height: 250px;
    grid-column-start: 2;
    grid-row-start: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top: 8px solid $colorSecundario;
      border-right: 8px solid $colorSecundario;
      border-bottom: 8px solid $colorSecundario;
      box-shadow: $colorPrimario 14px 0;
    }
  }
  &-plusIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.3rem;
    color: $colorPrimario;
    cursor: pointer;
  }
  &-control {
    &-prev,
    &-next {
      width: fit-content;
      height: fit-content;
      top: calc(50% - 36px);
      padding: 0 8px;
      font-size: 3rem;
      color: $colorSecundario;
      opacity: 0.4;
      &:hover,
      &:focus {
        color: $colorSecundario;
        opacity: 0.9;
      }
    }
  }
}

@keyframes imgMov {
  0% {
    transform: scale(1.006);
  }

  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.006);
  }
}

.home {
  grid-template-columns: repeat(4, auto);
  margin-top: 12px;
  &-imgContainer {
    position: relative;
    overflow: hidden;
  }
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &__4 {
      object-position: -60px;
    }
  }
  &-img__1:hover,
  &-img__2:hover,
  &-img__3:hover,
  &-img__4:hover {
    cursor: pointer;
    animation: imgMov ease-in-out 4s infinite;
    & ~ .home-plusIcon {
      opacity: 1;
      transition: opacity 200ms ease;
      animation: imgMov ease-in-out 4s infinite;
    }
  }
  &-plusIcon {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    font-size: 1rem;
    color: $colorResaltado;
    opacity: 0;
    cursor: pointer;
    &:hover {
      opacity: 1;
      animation: imgMov ease-in-out 4s infinite;
    }
  }
}

////////////////////////////////////////
// 7- MAIN -- MODAL
////////////////////////////////////////

.modal {
  &-dialog,
  &-content {
    width: 90vw;
    max-width: 900px;
    min-width: 288px;
    height: 85vh;
  }
  &-card {
    position: relative;
    width: 100%;
    height: 100%;
    &-imgContainer {
      width: 100%;
      height: 50%;
    }
    &-body {
      width: 100%;
      height: 50%;
    }
  }
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &__4 {
      object-position: -60px;
    }
  }
  &-btn-close {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    padding: 4px;
    color: $colorResaltado;
  }
}
////////////////////////////////////////
// 8- MAIN -- NUEVO LANZAMIENTO
////////////////////////////////////////

.marquee {
  white-space: nowrap;
  overflow: hidden;
  height: 30px;
  background-color: $colorSecundario;
  transform: rotate(5deg);
  h2 {
    animation: marquee 3s linear infinite reverse;
  }
}

.marquee__2 {
  transform: rotate(-5deg);
  h2 {
    animation: marquee 3s linear infinite alternate;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.linkSpoti {
  right: -12px;
  height: 70px;
  width: 70px;
  background-color: $colorPrimario;
  &-icon {
    font-size: 2.8rem;
    color: $colorResaltado;
    &:hover {
      color: $colorResaltado;
    }
  }
}

.cardDisc_container {
  background-image: url(../assets/img/bg/bg_caos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.caos_title {
  font-size: 6rem;
  line-height: 4rem;
}

.punto {
  display: inline-block;
  margin-left: 4px;
  width: 32px;
  height: 32px;
  background-color: $colorResaltado;
  border-radius: 50%;
}

.discCard {
  max-width: 450px;
  background-color: transparent;
  color: $colorResaltado;
  &-btn {
    @include btn(100px, 0.5s);
  }
  &-audio {
    visibility: hidden;
    position: absolute;
  }
}

.hide {
  display: none;
}

////////////////////////////////////////
// 9- MAIN -- GALERÍA
////////////////////////////////////////

.imgGaleria_container {
  width: 273px;
  height: 409px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

////////////////////////////////////////
// 10- MAIN -- TOUR
////////////////////////////////////////

.cardTourSection_container {
  max-width: 1100px;
}

.tourCard {
  max-width: 475px;
  background-color: $colorSecundario;
  border-radius: 25px;
  &-title {
    font-size: 2.6rem;
    border-bottom: $colorPrimario solid 2px;
  }
  &-subtitle {
    font-size: 1.6rem;
    border-right: $colorPrimario solid 2px;
  }
  &-txt {
    font-size: 1.2rem;
  }
  &-btn {
    @include btn(100%, 0.25s);
    max-width: 475px;
  }
}

hr {
  border: 1px dashed $colorPrimario;
  color: transparent;
}

////////////////////////////////////////
// 11- MAIN -- TIENDA
////////////////////////////////////////

.shopCard {
  &-imgContainer {
    width: 100%;
    min-width: 225px;
    height: 270px;
    opacity: 0;
    transition: all 600ms;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-pinSet {
    opacity: 1;
  }
  &-btn {
    @include btn(50%, 0.3s);
  }
}

.label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  &-pink {
    background-color: $colorSecundario;
    position: relative;
    top: 13px;
  }
  &-black {
    background-color: $colorPrimario;
    position: relative;
    top: -7px;
    right: -30px;
  }
}

.shop2 {
  padding: 0px 12px;
}

#carcasa {
  @include clicEventTienda();
}

#bolso {
  @include clicEventTienda();
}

#skate {
  @include clicEventTienda();
}

////////////////////////////////////////
// 12- MAIN -- CONTACTO
////////////////////////////////////////

.form {
  &-bg {
    background-image: url(../assets/img/bg/bg_contacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-container {
    max-width: 560px;
  }
  &-input {
    padding: 9px;
    background-color: transparent;
    border: 2px solid $colorPrimario;
    border-radius: 30px;
    &::placeholder {
      color: $colorPrimario;
    }
  }
  &-btn {
    width: 52px;
    height: 52px;
    font-size: 2rem;
    color: $colorResaltado;
    background-color: $colorPrimario;
    border: none;
    border-radius: 50%;
  }
}

.email_container {
  height: 30vh;
}

////////////////////////////////////////
// 13- FOOTER
////////////////////////////////////////

.footer {
  min-height: 10vh;
  background-color: $colorBg;
  &-link {
    text-decoration: none;
    &__icon {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-style: normal;
      color: $colorSecundario;
    }
  }
  &-listenTxt {
    font-size: 0.8rem;
  }
  &-txt {
    font-size: 0.5rem;
    color: $colorParrafo;
  }
}

.rrssFoot_container {
  border-bottom: 2px solid rgba(153, 153, 153, 0.4);
  font-size: 0.8rem;
  a {
    overflow: hidden;
    &::after {
      display: block;
      width: 100%;
      height: 2px;
      content: "";
      background: $colorPrimario;
      transform: translate(-105%, -5px);
    }
    &:hover::after {
      transform: translate(0, -5px);
      transition: all 0.3s ease-in-out;
    }
  }
}

////////////////////////////////////////
// 14- MEDIA QUERIES
////////////////////////////////////////

@import "./partials/mediaQueries";

////////////////////////////////////////
// 15- ANIMACIONES
////////////////////////////////////////

/**--------- NAV ---------**/

.menuDesplegable_container {
  .blanco {
    color: $colorResaltado;
    opacity: 0;
  }
  .leftCode {
    display: inline-block;
    transform: translate(-60px);
  }
  .rightCode {
    display: inline-block;
    transform: translate(60px);
  }
  a:hover {
    opacity: 1;
    & .blanco {
      transition: all 0.3s ease-in-out;
      opacity: 1;
    }
    & .leftCode,
    & .rightCode {
      transform: translate(0);
    }
  }
}
